[Desktop Entry]
Type=Application
Name=Tibia
Comment=Tibia
Exec=Tibia
Icon=tibia
Terminal=false
StartupNotify=false
StartupWMClass=com.cipsoft.Tibia
Categories=Application;Game;RPG;MMO;
